// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #757575;
$light-gray: #f4f4f4;
$white: #fff;

$my-white: #fffdf7;
$my-black: #00171f;
$my-green: #49af91;
$my-pink: #ef798a;
$my-sand: #dbcaa2;

$rock: #b12d24;
$electro: #97ebdc;
$pop: #1d96a3;
$rap: #dbcaa2;
$jazz: #a85e32;
$country: #cda552;
$soul: #4432a8;
$hip-hop: #e25d31;
$rnb: #c9418e;
$techno: #4d96ef;
$italo-disco: #a31d38;
$hard-rock: #dbcaa2;
$metal: #464646;

$shadow-20: rgba(0, 0, 0, 0.2);
$light-80: rgba(255, 255, 255, 0.8);
