// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #757575;
$light-gray: #f4f4f4;
$white: #fff;

$my-white: #fffdf7;
$my-black: #00171f;
$my-green: #49af91;
$my-pink: #ef798a;
$my-sand: #dbcaa2;

$shadow-20: rgba(0, 0, 0, 0.2);
