.home-grid {
  background: linear-gradient(167.94deg, $my-green -7.36%, $my-black 19.42%);
  display: grid;
  grid-gap: 12px;
  grid-template-rows: 12fr 5fr 17fr 13fr 16fr;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }

  .home-header {
    color: $white;
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
    font-size: 18px;
    font-weight: bold;
    padding: 32px 24px 0;
  }

  .title {
    margin-bottom: 20px;
    position: relative;
    z-index: 5;
    font-size: 22px;

    img {
      height: 28px;
      margin-bottom: 16px;
      width: 22px;
    }

    span {
      color: $my-green;
      font-size: 36px;
      font-weight: bold;
      line-height: 44px;
    }
  }

  .search {
    padding: 0 24px;
    z-index: 5;

    div {
      margin-bottom: 4px;
      width: 100%;
    }
  }

  section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .cat-title {
      color: $white;
      font-size: 24px;
      font-weight: bold;
      padding: 0 8px 8px;
      text-transform: uppercase;
      margin-left: 16px;
    }

    ul {
      list-style: none;
      margin: 0 4px;
      padding: 1px 0px;
    }
  }
}
