// Specific CSS for your home-page
.grid-content {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "content" "navbar";
}

.bottom-navbar {
  grid-area: "navbar"
}

.content {
  grid-area: "content"
}
