.likes-index {
  margin: 40px 20px;
  color: $my-white;

  h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    font-style: normal;
  }

  h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    font-style: normal;
    color: white;
    text-align-last: center;
  }

  h5 {
    font-weight: 100;
  }

  .tabs-search {
    display: flex;
    padding: 10px;
    margin-bottom: 5px;

    a {
      color: rgba($my-pink, 0.3);
      text-align: center;
      text-decoration: none;
      text-shadow: 0 0 2px rgba($my-pink, 0.3);

      &.selected {
        color: $my-pink;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 0 4px $my-pink;
        background: none;
        border-bottom: 2px solid;
      }
    }

    i {
      font-size: 13px;
      padding-left: 8px;
    }
  }

  input {
    appearance: none;
    transition: all 0.5s ease-in-out;


    &:checked {

      + div {
        opacity: 1;
        width: 90px;
        transition: width 0.5s ease-out;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 1.7;

      }
    }

    + div {
      width:0;
      opacity: 0;
      padding: 0.5rem 0;
      transition: width 0.5s ease-out;
    }
  }

  .tags-filter {
    margin-top: 40px;

    ul {
      list-style: none;
      padding-left: 0px;
      width: 90px;
    }

    a {
      text-decoration: none;
      color: $my-white;
    }
  }


  label {
    position: absolute;
    top: -30px;
    font-size: 20px;
    color: $my-green;
    text-shadow: 0px 0px 4px $my-green;
    transition: all 0.5s ease-in-out;
  }

  .likes-container {
    position: relative;
    margin-top: 30px;

    label {
      position: absolute;
      top: -30px;
      font-size: 20px;
      background: #49af91;
      width: 140px;
      position: absolute;
      height: 36px;
      border-radius: 0 18px 18px 0;
      left: -115px;
      margin-top: 20px;

      &.label-active {
        left: -20px;
        transition: all 0.5s ease-in-out;

      }

      .fa-tag {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        left: 108px;
        position: absolute;
        top: 8px;
        color: $my-white;
      }
    }

    .check-with-label:checked + #tab-1 {
      margin-left: -100px;
    }
  }
}


.grey-tag {
  color: $gray !important;
}
