.likes-index {
  margin: 40px 20px;
  color: $my-white;

  h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    font-style: normal;
  }

  .tabs-search {
    display: flex;
    padding: 10px;
    margin-bottom: 5px;

    a {
      color: rgba($my-pink, 0.3);
      text-align: center;
      text-decoration: none;
      text-shadow: 0 0 2px rgba($my-pink, 0.3);

      &.selected {
        color: $my-pink;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 0 4px $my-pink;
        background: none;
        border-bottom: 2px solid;
      }
    }

    i {
      font-size: 13px;
      padding-left: 8px;
    }
  }
}
