.index-container {
  background: #00171f;
  color: $my-white;
  height: 100%;

  h3 {
    font-size: 24px;
    margin: 10px 0 0;
  }

  .bar-search {
    height: 56px;
    padding: 0 24px;
  }

  .tabs-search {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    padding: 10px;

    .nav {

      .nav-link {
        color: $my-pink;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 0 4px $my-pink;

        &.active {
          background: none;
          border-bottom: 1px solid $my-pink;
        }
      }
    }
  }

  .display-search {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    padding: 10px;

    ul {
      border: 1px solid $my-pink;
      border-radius: 20px;
      font-size: 16px;
      font-weight: 300;
    }

    a {
      color: $my-pink;
      text-align: center;
      text-decoration: none;

      &.active {
        background: $my-pink;
        border: 1px solid $my-pink;
        border-radius: 20px;
        color: $my-white;
      }
    }
  }
}

.title-section {
  margin: 0 auto;
  width: 360px;
}

.places {
  display: grid;
  grid-column: 1fr;
  grid-gap: 8px;
  justify-content: center;

  a {
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      outline: none;
    }
  }
}

.filter-search {
  display: flex;
  margin: 0 auto;
  padding-top: 5px;
  width: 200px;

  .place-tag {
    margin: 5px;
  }
}

.place-tag {
  align-items: center;
  display: flex;
}

.genres-search {
    padding: 0 24px;
    height: 56px;

  form {
    width: 100%;
    height: 100%;

    .select2.select2-container.select2-container--default {
      width: 100% !important;
      position: relative;

      .select2-dropdown.select2-dropdown--below {
        position: absolute;
        border-radius: 4px;
        margin-top: 10px;
        background-color: #ffffff2b;
        color: white;
      }

      .selection {
        .select2-selection.select2-selection--multiple {
          border: 0;
          border-radius: 4px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 16px 8px;
          background-color: #ffffff2b;

          ul {
            height: 100%;
            text-align: center;

            .select2-search.select2-search--inline {
              display: none;
            }

            li {

              .select2-search__field {
              width: 100% !important;
              }

              &.select2-selection__choice {
                border-radius: 100px;
                margin: 4px;
                padding: 4px 12px;
                border: none;
                color: $my-white;

                .select2-selection__choice__remove {
                  margin-right: 5px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

.select2-dropdown {
  background-color: #ffffff2b !important;
  color: white !important;
  margin-top: 10px;
  border-radius: 8px;
  overflow: hidden;
  border: none;
}
