.index-container {
  color: $my-white;

  .bar-search {
    height: 56px;
    padding: 0 24px;
  }

  .tabs-search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;

    a {
      text-decoration: none;
      color: $my-pink;
      text-shadow: 0px 0px 4px $my-pink;
      text-align: center;

      &.selected {
        border-bottom: 1px solid $my-pink;
      }
    }
  }

  .display-search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;

    ul {
      border: 1px solid $my-pink;
      border-radius: 20px;
      font-weight: 300;
      font-size: 16px;
    }

    a {
      text-decoration: none;
      color: $my-pink;
      text-align: center;

      &.selected {
        border: 1px solid $my-pink;
        background: $my-pink;
        color: $my-white;
        border-radius: 20px;
      }
    }
  }
}

.title-section {
  width: 360px;
  margin: 0 auto;
}

.places {
  display: grid;
  grid-column: 1fr;
  grid-gap: 8px;
  justify-content: center;
}

.index-container {
  background: #00171f;
  height: 100%;

  h3 {
    font-size: 24px;
    margin: 10px 0px 0px 0px;
  }
}

.filter-search {
  margin: 0 auto;
  padding-top: 5px;
  width: 200px;
  display: flex;

  .place-tag {
    margin: 5px;
  }
}

.place-tag {
  align-items: center;
  display: flex;
}
