.show-container {
  background: #00171f;
  height: 100%;
  color: $my-white;
  overflow-y: scroll;
  position: relative;

  .place-top-tracks-title {
    font-weight: 700;
    font-size: 12px;
  }

  .place-details {
    margin: 25px 28px 0px 28px;

    h4 {
      margin-top: 36px;
      font-style: normal;
      font-size: 16px;
      line-height: 29px;
    }

    h3 {
      font-weight: 600;
      font-size: 24px;
      line-height: 38px;
      margin-top: 52px;
    }

    .place-pin-me {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    .place-pin {
      color: #ef798a;
      font-size: 28px;
      text-shadow: 0px 0px 4px #ef798a;
      padding-left: 15px;
    }
  }

  .place-rating {
    color: #49af91;
    position: relative;
    color: #49af91;
    width: 100px;
    display: flex;
    justify-content: space-between;

    i {
      display: block;
    }
  }

  .place-name {
    position: relative;
  }

  .general-infos {
    display: flex;
    justify-content: space-between;

    .place-like {
      display: flex;
      align-items: center;
    }

    i {
      color: $my-pink;
      font-size: 28px;
      text-shadow: 0px 0px 4px $my-pink;
      padding-left: 15px;
    }
  }

  h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 0;
  }

  h4 {
    font-size: 18px;

    &.now {
      color: $my-pink;
      text-shadow: 0px 0px 4px $my-pink;
    }
  }

  p {
    font-size: 12px;
    margin: 0px;
    font-weight: 300;
  }

  .place-address {
    margin-bottom: 10px;
  }

  .place-tags {
    width: 200px;
    display: flex;
    margin-top: 36px;
  }

  .place-tag-open {
    border: 1px solid #49af91;
    color: #fffdf7;
    box-shadow: 0 0px 4px 0px #49af91;
    background: #49af91;
    position: absolute;
    top: 12px;
    right: 28px;
  }
  .place-distance {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
  }

  .link-map {
    color: $my-pink;
    text-shadow: 0px 0px 4px $my-pink;
    font-size: 28px;
  }

  .place-on-air {
    height: 322px;
    background: image-url("linear-show.png");
    margin: -74px -28px -92px -28px;

    h4 {
      margin-left: 28px;
    }
  }

  .place-music {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    position: relative;
    bottom: -96px;

    h4 {
      font-weight: 600;
      font-size: 24px;
      line-height: 38px;
    }
  }

  ol {
    font-size: 12px;
  }

  .playing-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 5px;
  }

  .place-opening-info-green {
    position: absolute;
    bottom: -390px;
    left: 130px;
  }
}

.logo-back {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  transform: rotate(180deg);
}

.carousel-photos {
  display: flex;

  overflow-x: scroll;

  .place-photo {
    width: 410px;

    img {
      width: 100vw;
      height: 240px;
      object-fit: cover;
    }
  }

  .align-items-center {
    align-items: center;
  }

  .place-top-tracks-infos {
    line-height: 1px !important;
  }

  .height-between {
    height: 52px;
  }
}

.place-opening-info {
  position: relative;
  z-index: 1;
  &:after {
    position: absolute;
    content: "";
    background: image-url("opening_infos.png");
    height: 56px;
    width: 189px;
    top: 22px;
    right: 22px;
    background-repeat: no-repeat;
    z-index: -1;
    background-size: contain;
  }
}
