<div class="likes-index">
  <h3>My List</h3>
  <div class="tabs-search">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link selected", href="#">Spots <%= icon("fas", "heart") %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Friends</a>
      </li>
    </ul>
  </div>
  <div class="places-likes">
    <% @likes.each_with_index do |like, i| %>
      <% last = :last if i == @likes.count - 1 %>
      <%= render "components/likes_card", place: like.place, last: last %>
    <% end %>
  </div>
  <div class="tags-filter">
    <h4>Tags</h4>
    <% @genres.uniq.each do |genre|  %>
      <%= genre %>
    <% end %>
  </div>
</div>
