<div class="search-bar">
  <form action="/" id="search-form" method="get" accept-charset="utf-8">
    <input class="search-bar-input" type="text" placeholder="Genre, Artist, Track, Address...">
  </form>
</div>
