<% if current_user %>
  <div class="home-grid">

    <section class="home-header">
      <div class="title">
        <div>Where do you want to </div>
        <%= image_tag("logo.svg") %> <span>GetOut</span> tonight?
      </div>
      <%= render "components/background_logo" %>
    </section>

    <section class="search">
      <div>Find easily a place with the music you like!</div>
      <div><%= render "components/search_bar" %></div>
    </section>


    <section class="selection">
      <div class="cat-title">Selection of bars for me</div>
      <div>Insert here carousel of bars</div>
    </section>


    <section class="artists">
      <div class="cat-title">Go and listen to these artists</div>
      <div>Insert here carousel of artists</div>
    </section>


    <section class="events">
      <div class="cat-title">Around me</div>
      <div>Insert here carousel of events</div>
    </section>
  </div>
<% else %>
  <%= render 'devise/sessions/new' %>
<% end %>
