<div class="animation__wrapper"
     data-controller="animation"
     data-target="animation.redirection"
     data-redirect="<%= tastes_path %>"
     >
     <div class="width-constrain">
       <div class="animation">
         <svg version="1.1"
              baseProfile="tiny"
              id="svg-root"
              width="100%"
              height="100%"
              viewBox="35 0 600 600"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              >
              <image data-target="animation.image"
                     width="600"
                     height="600"
                     xlink:href="animation/frame000.svg"
                     >
              </image>
         </svg>
       </div>
     </div>
</div>
<div class="text">
  <div class="title">GetOut</div>
  <div class="fetching-message">
    Fetching your Spotify data...
  </div>
</div>
