<div class="sessions-new" data-controller="signin-feedback">
  <div class="vertical-logo">
    <%= image_tag 'vertical_logo.svg' %>
  </div>
  <p class="white-text">GO party with your friends tonight!</p>
  <div data-action="click->signin-feedback#displayMessage">
    <%= render 'components/button_link', text: "Sign in with spotify", class: "btn-signin", link: "#{user_spotify_omniauth_authorize_path}" %>
  </div>
</div>
