.background-logo {
  height: 48vh;
  opacity: 0.5;
  overflow: hidden;
  position: absolute;
  right: -7vh;
  top: -15vh;
  width: 39vh;

  img {
    height: 100%;
    transform: rotate(180deg);
    width: 100%;
  }
}
