.bottom-navbar {
  background: $my-black;
  font-size: 25px;
  height: 56px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 25px;
  text-decoration: none;
  border-top: $my-green 1px solid;

  .navbar-button {
    color: $my-white;
  }

  .navbar-button.active {
    color: $my-green;
  }
}
