.bottom-navbar {
  align-items: center;
  background: $my-black;
  border-top: $my-green 1px solid;
  display: flex;
  font-size: 25px;
  height: 56px;
  justify-content: space-around;
  padding: 0 25px;

  .navbar-button {
    color: $my-white;
    display: flex;
    text-decoration: none;

    &.active {
      color: $my-green;
    }

    &:hover,
    &:focus,
    &:active {
      outline: none;
    }
  }
}
