.bottom-navbar {
  background: $myBlack;
  font-size: 25px;
  height: 56px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 25px;
  text-decoration: none;

  .navbar-button {
    color: $myWhite;
  }

  .navbar-button.active {
    color: $myGreen;
  }
}
