.horizontal-scroll {
  ul {
    display: flex;
    list-style: none;
    overflow-x: scroll;
    overflow-y: auto;
    padding-left: 0;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  li {
    flex: 0 0 auto;
    padding: 0 8px;
  }
}
