.likes-card {
  align-items: center;
  border-bottom: 1px solid $my-green;
  color: $my-white;
  display: flex;
  height: 100px;
  overflow: hidden;
  border-bottom: 1px solid $my-green;
  color: $my-white;

  &.last {
    border-bottom: 0;
  }

  .likes-card-infos {
    flex-grow: 1;
    height: 100px;
    margin-left: 15px;
    position: relative;

  h2 {
    font-size: 18px;
    margin-bottom: 0;
    padding-top: 8px;
  }

  p {
    font-weight: lighter;
    margin-bottom: 0;
    text-overflow: ellipsis;
  }

    .place-rating {
      margin-bottom: 4px;
    }

    .place-distance {
      font-size: 10px;
      padding-top: 8px;
    }
  }
}

#tab-1:checked + .tags-filter + .places-likes {
  width: calc(100% - 70px);

  h2 {
    font-size: 18px;
    margin-bottom: 0;
    padding-top: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 120px;
  }

  p {
    font-weight: lighter;
    margin-bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 120px !important;
  }
}

.places-likes {
  color: $gray;
  display: grid;
  grid-column: 1fr;
  justify-content: end;
  margin-top: 40px;
  transition: all 0.5s ease-in-out;
  height: 100px;
}

img {
  object-fit: cover;
}

.likes-index {
  h3 {
    margin-left: 8px;
  }
}


