.place-card {
  .name {
    color: $white;
    font-weight: 600;
    padding-top: 6px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &.square {
    width: 140px;

    .name {
      font-size: 17px;
      font-weight: 700;
      max-height: 54px;
    }

    img {
      height: 140px;
      object-fit: cover;
      width: 140px;
    }
  }

  &.circle,
  &.small_square {
    width: 100px;

    .name {
      font-size: 16px;
      font-weight: 700;
      max-height: 50px;
    }

    img {
      height: 100px;
      object-fit: cover;
      width: 100px;
    }
  }

  &.circle {
    img {
      border-radius: 50%;
    }
  }
}
