.place-card {
  .name {
    color: $white;
    font-weight: 600;
    padding-top: 6px;
    text-align: center;
  }

  &.square {
    width: 140px;

    .name {
      font-size: 16px;
      font-weight: 400;
    }

    img {
      height: 140px;
      width: 140px;
      object-fit: cover;
    }
  }

  &.circle,
  &.small_square {
    width: 100px;

    .name {
      font-size: 12px;
      font-weight: 400;
    }

    img {
      height: 100px;
      width: 100px;
      object-fit: cover;
    }
  }

  &.circle {
    img {
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
