.btn {
  line-height: 31px;
  padding: 5px 22px;
  border: 0;
  margin: 10px;
  cursor: pointer;
  border-radius: 100px;
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
  outline: none !important;
  transition: 0.2s ease-out;
}

.btn-primary {
  color: $my-white;
  background-color: $my-pink;
  width: 160px;
  height: 64px;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: $my-lighter-pink !important;
  color: $my-white !important;
}
