.search-bar-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.search-bar-all {
  border: 1px solid $my-green;
  border-radius: 5px;
  box-shadow: none;
  display: flex;
  font-size: 12px;
  height: 56px;
  justify-content: space-between;
  overflow: hidden;
  width: 360px;

  .fas.fa-search {
    align-items: center;
    background: $white;
    color: $my-green;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 15%;
  }
}

.search-bar-input {
  border: 0;
  color: $gray;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 85%;
}

.search-bar-input:focus {
  outline: none;
}
