.search-card {
  align-items: center;
  display: flex;
  height: 145px;
  overflow: hidden;
  width: 90vw;
  border-bottom: 1px solid $my-green;
  color: $my-white;

  img {
    min-width: 120px;
    max-width: 120px;
    width: 120px;
    height: 120px;
    object-fit: cover;
  }

  &.last {
    border-bottom: 0;
  }

  h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 46vw;
  }

  p {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0;
    margin-top: 4px;
    opacity: 0.7;
  }

  .search-card-infos {
    flex-grow: 1;
    height: 100%;
    margin-left: 15px;
    position: relative;
    padding: 12.5px 0px;
  }
}

.place-rating i {
  color: $my-green;
  font-size: 20px;

  .i {
    color: $white;
  }
}

.place-distance {
  font-size: 15px;
  font-weight: 600;
}
