.search-card {
  align-items: center;
  background: $my-white;
  box-shadow: 0 0 15px $shadow-20;
  display: flex;
  height: 80px;
  overflow: hidden;
  width: 360px;

  img {
    height: 80px;
    object-fit: cover;
    width: 80px;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    margin-bottom: 0;
    margin-top: 4px;
    opacity: 0.7;
  }

  .search-card-infos {
    height: 100%;
    padding: 10px 10px 10px 15px;
    position: relative;
    width: 100%;
  }
}

.place-rating i {
  color: $my-sand;
  font-size: 14px;
}

.place-type {
  background: $my-sand;
  border: solid $white 1.5px;
  border-radius: 50px;
  height: 25px;
  left: -14px;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 6px;
  width: 25px;

  .i {
    color: $white;
  }
}

.place-distance {
  font-size: 13px;
}

.place-tag {
  border-radius: 7px;
  font-size: 10px;
  height: 20px;
  margin: 3px;
  padding: 2px;
  text-align: center;

  &.short-tag {
    border: 2px $my-green solid;
    width: 35px;
  }

  &.longer-tag {
    border: 2px $my-pink solid;
    width: 60px;
  }
}
