.search-bar-container {
  width: 100%;
}

.search-bar-all {
  border: 1px solid $my-green;
  border-radius: 5px;
  box-shadow: none;
  color: $black;
  display: flex;
  font-size: 12px;
  height: 56px;

  .fas.fa-search {
    align-items: center;
    background: $white;
    background-color: $light-80;
    border-radius: 5px 0 0 5px;
    color: $my-green;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 15%;
  }
}

.search-bar-input {
  background-color: $light-80;
  border: 0;
  color: $gray;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;

  &.ap-input {
    border-radius: 0 5px 5px 0;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.search-bar-input:focus {
  outline: none;
}
