.search-card {
  align-items: center;
  display: flex;
  height: 128px;
  overflow: hidden;
  width: 90vw;
  border-bottom: 1px solid $my-green;
  color: $my-white;

  &.last {
    border-bottom: 0;
  }

  h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 50vw;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    margin-bottom: 0;
    margin-top: 4px;
    opacity: 0.7;
  }

  .search-card-infos {
    flex-grow: 1;
    height: 100px;
    margin-left: 15px;
    position: relative;
  }
}

.place-rating i {
  color: $my-green;
  font-size: 14px;

  .i {
    color: $white;
  }
}

.place-distance {
  font-size: 13px;
}
