.search-bar-container {
  width: 100%;
}

.search-bar-all {
  box-shadow: none;
  color: $gray;
  display: flex;
  font-size: 12px;
  height: 56px;
  width: 100%;

  .fas.fa-search {
    align-items: center;
    background: $white;
    background-color: $my-gray;
    color: $gray;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 15%;
  }
}

.search-bar-input {
  background-color: $my-gray;
  border: 0;
  color: $white;
  height: 100%;
  margin: 0;
  padding: 20px;
  border-radius: 0;
  padding-left: 10px;
  padding-right: 44px;
  font-size: 20px;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.search-bar-input:focus {
  outline: none;
}

.ap-footer {
  display: none;
}

#nav-genres {
  .fas.fa-search {
    position: absolute;
    height: 54px;
    top: 10.4vh;
    left: -1vw;
    z-index: 999;
  }

  .placeholder-genre-search {
    position: absolute;
    top: 12vh;
    left: 15.7vw;
    z-index: 999;
    font-size: 20px;
    margin-bottom: 0;
    pointer-events: none;
  }
}
