.place-tag {
  border-radius: 8px;
  font-size: 10px;
  margin: 3px;
  padding: 3px;
  text-align: center;

  &.rock-tag {
    border: $rock 2px solid;
    color: $rock;
    &:hover, &.selected {
      background: $rock;
      color: $my-white;
    }
  }
  &.electro-tag {
    border: $electro 2px solid;
    background: $electro;
    color: $electro;
    &:hover, &.selected {
      background: $electro;
      color: $my-white;
    }
  }
  &.pop-tag {
    border: $pop 2px solid;
    background: $pop;
    color: $pop;
    &:hover, &.selected {
      background: $pop;
      color: $my-white;
    }
  }
  &.rap-tag {
    border: $rap 2px solid;
    background: $rap;
    color: $rap;
    &:hover, &.selected {
      background: $rap;
      color: $my-white;
    }
  }
  &.jazz-tag {
    border: $jazz 2px solid;
    background: $jazz;
    color: $jazz;
    &:hover, &.selected {
      background: $jazz;
      color: $my-white;
    }
  }
  &.country-tag {
    border: $country 2px solid;
    background: $country;
    color: $country;
    &:hover, &.selected {
      background: $country;
      color: $my-white;
    }
  }
  &.soul-tag {
    border: $soul 2px solid;
    background: $soul;
    color: $soul;
    &:hover, &.selected {
      background: $soul;
      color: $my-white;
    }
  }
  &.hip-hop-tag {
    border: $hip-hop 2px solid;
    background: $hip-hop;
    color: $hip-hop;
    &:hover, &.selected {
      background: $hip-hop;
      color: $my-white;
    }
  }
  &.rnb-tag {
    border: $rnb 2px solid;
    background: $rnb;
    color: $rnb;
    &:hover, &.selected {
      background: $rnb;
      color: $my-white;
    }
  }
  &.techno-tag {
    border: $techno 2px solid;
    background: $techno;
    color: $techno;
    &:hover, &.selected {
      background: $techno;
      color: $my-white;
    }
  }
  &.italo-disco-tag {
    border: $italo-disco 2px solid;
    background: $italo-disco;
    color: $italo-disco;
    &:hover, &.selected {
      background: $italo-disco;
      color: $my-white;
    }
  }
  &.hard-rock-tag {
    border: $hard-rock 2px solid;
    background: $hard-rock;
    color: $hard-rock;
    &:hover, &.selected {
      background: $hard-rock;
      color: $my-white;
    }
  }
  &.metal-tag {
    border: $metal 2px solid;
    background: $metal;
    color: $metal;
    &:hover, &.selected {
      background: $metal;
      color: $my-white;
    }
  }
}

.filter-tag {
  border-radius: 14px;
  font-size: 15px;
  margin: 3px;
  padding: 3px 5px;
  text-align: center;
  border: $my-pink 1px solid;
  color: $my-pink;
}




