// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: $my-black;
}

body {
  font-family: "Hind";
}

h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
}

h3 {
  font-size: 36px;
}

.grid-content {
  display: grid;
  grid-template-areas:
    "content"
    "navbar";
  grid-template-rows: 1fr auto;
  height: 100vh;
}

.app-navbar {
  grid-area: navbar;
}

.content {
  grid-area: content;
  overflow-y: scroll;
}

#sessions-new, #pages-tastes {
  .grid-content .app-navbar {
    display: none;
  }
}
