<%= render 'components/back_arrow', link: root_path %>
<div class="index-container">
  <div class="tabs-search">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#">By genres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link selected" href="#">By location</a>
      </li>
    </ul>
  </div>
  <div class="bar-search">
    <% previous_search = params[:query] ? params[:query] : "" %>
    <div><%= render "components/search_bar", value: previous_search %></div>
  </div>
  <div class="display-search">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link selected" href="#">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Map</a>
      </li>
    </ul>
  </div>
  <div class="search-results mb-3">
    <div class="title-section">
      <h3>Results for #</h3>
    </div>
    <div class="places">
      <% @places.each_with_index do |place, i| %>
        <% last = :last if i == @places.count - 1 %>
        <%= render "components/search-card", place: place, last: last %>
      <% end %>
    </div>
  </div>
</div>


