<%= render 'components/back_arrow', link: root_path %>
<div class="places-index"
     data-controller="tab-selection-index">
  <div class="index-container" data-controller="tab-selection">
    <div class="tabs-search">
      <div class="nav nav-pills" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active"
           id="nav-location-tab"
           data-toggle="tab"
           href="#nav-location"
           role="tab"
           aria-controls="nav-location"
           aria-selected="true"
           data-target="tab-selection-index.location"
           data-action="click->tab-selection-index#changeTab"
        >By location</a>
        <a class="nav-item nav-link"
           id="nav-genres-tab"
           data-toggle="tab"
           href="#nav-genres"
           role="tab"
           aria-controls="nav-genres"
           aria-selected="false"
           data-target="tab-selection-index.genres"
           data-action="click->tab-selection-index#changeTab"
        >By genres</a>
      </div>
    </div>

    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active"
           id="nav-location"
           role="tabpanel"
           aria-labelledby="nav-location-tab"
           data-target="tab-selection-index.tabLocation"
           >
           <%= render "search_by_location_tab" %>
      </div>
      <div class="tab-pane fade"
           id="nav-genres"
           role="tabpanel"
           aria-labelledby="nav-genres-tab"
           data-controller="select2search"
           data-target="tab-selection-index.tabGenres"
           >
           <%= render "search_by_genres_tab" %>
      </div>
    </div>
  </div>
</div>
